<!DOCTYPE html>
<html>
  <head>
    <title>Forget Password</title>
    <style>
      .main {
        display: flex;
        justify-content: center;
        margin-top: 60px;
      }
      .sub {
        width: 500px;
        text-align: center;
        border: 2px solid;
        padding: 30px;
      }
    </style>
  </head>

  <body>
    <div class="main">
      <div class="sub">
        <h2>Forget Password</h2>
        <p>Dear user, To reset password code is <strong><%= code %></strong></p>
        <strong>Code is valid for 10 mints</strong>
        <p>If you did not request any password resets, then ignore this email.</p>
        <p>Nodejs Boiler plate</p>
      </div>
    </div>
  </body>
</html>
