<!DOCTYPE html>
<html>
  <head>
    <title>Email verification</title>
    <style>
      .main {
        display: flex;
        justify-content: center;
        margin-top: 60px;
      }
      .sub {
        width: 500px;
        text-align: center;
        border: 2px solid;
        padding: 30px;
      }
    </style>
  </head>

  <body>
    <div class="main">
      <div class="sub">
        <h2>Verify Your Email</h2>
        <p>Dear user, To verify your email, click on this link:</p>
        <p><a href="<%= verificationEmailUrl %>">click here to verify</a></p>
        <p>If you did not create an account, then ignore this email.</p>
        <p>Nodejs Boiler plate</p>
      </div>
    </div>
  </body>
</html>
